# SETUP INSTRUCTIONS
#  Create a copy of this and rename to variables.env
#  Add your email address and update other variables as needed

# setup an ssh key
SETUP_KEY=false
KEYNAME=github
# email added to the comment of the key
EMAIL=your.email@email.com

# Which apps do you need installed for development
INSTALL_SDKMAN=false
INSTALL_INTELLIJ=false
INSTALL_VSCODE=false
INSTALL_NPM=false
INSTALL_GCLOUD=false
INSTALL_TERRAFORM=true
INSTALL_PIP=false
INSTALL_PYTHON3_10=false
